* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    background-color: #fdfaf0; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: left;
    padding: 10px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdfaf0;
    z-index: 1000;
}

.logo {
    height: 80px;
    width: auto;
}

.cadastro {
    background-color: #f6dec1;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: left;
    margin: auto; 
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: #333;
    margin-bottom: 25px;
    font-weight: 700;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.campo {
    width: 100%;
}

label {
    text-align: left;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
    text-transform: uppercase;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
}

textarea {
    resize: none;
    height: 100px; 
}

button {
    width: 100%; 
    background: #40E0D0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0px rgba(0, 0, 0, 0.2);
}