* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fdfaf0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdfaf0;
    z-index: 1000;
}

.logo {
    height: 120px;
    width: auto;
    grid-column: 2;
    justify-self: center;
}

.botao-entrar {
    grid-column: 3;
    justify-self: end;
    background-color: transparent;
    color: #333; 
    border: 2px solid #333; 
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease;
}

.botao-entrar:hover {
    background-color: #333; 
    color: #fdfaf0; 
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 140px; 
}

.section-top {
    background-color: #fdfaf0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
   font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-bottom {
    background-color: #ff8001;
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -100px;
}

.botao {
    padding: 60px 70px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    border: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    width: 300px;
}

.missao {
    background: #40E0D0;
    border-color: #2CA4A4;
}

.vidas {
    background: #FFA500;
    border-color: #CC8400;
}

.voluntario {
    background: #001F3F;
    border-color: #003366;
}

.localidade {
    background: #87CEFA;
    border-color: #5AA0D1;
}

.botao:hover {
    transform: translateY(-3px);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}