body {
    font-family: Arial, sans-serif;
    background-color: #fdfaf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: left;
    padding: 10px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdfaf0;
    z-index: 1000;
}

.logo {
    height: 80px;
    width: auto;
}


.login-container {
    background-color: #f6dec1;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 25px;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    align-self: flex-start;
    font-size: 14px;
    color: #555;
    font-weight: 700;
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
}

.botao-entrar {
    background: #40E0D0; 
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
}

.botao-entrar:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0px rgba(0, 0, 0, 0.2);
}

.link-cadastro {
    display: block;
    margin-top: 25px;
    color: #ff8001; 
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.link-cadastro:hover {
    color: #ffa500;
}